*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-image: url('https://thumbs.dreamstime.com/z/otp-letter-logo-design-black-background-otp-creative-initials-letter-logo-concept-otp-letter-design-otp-letter-logo-design-242585819.jpg');
    background-size: cover;
}

.container{
    border: 1px inset black;
    width: 370px;
    height:170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://thumbs.dreamstime.com/z/otp-letter-logo-design-black-background-otp-creative-initials-letter-logo-concept-otp-letter-design-otp-letter-logo-design-242585819.jpg');

   
}
button{
    display: block;
    padding: 5px;
    margin: 3px;
    font-size: 13px;
    background-color: white;
    margin-top: 10px;
    
    

}
label{
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    color:  white;
    font-weight: bold;

}
input{
    
    font-size: 17px;
    margin-bottom: 5px;
    width: 200px;
    outline: none;
   
}
a{
    text-decoration: none;
}